body {
  width: 100%;
  height: 100%;
  background-image: url(https://img.nickpic.host/AoW2LJ.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1fr;
  grid-template-rows: 0.2fr 2.2fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "side-nav header header" 
                       "side-nav content content" 
                       "side-nav footer footer";
}
nav {
  grid-area: side-nav;
  color: #f5f5f5;
  font-size: 4em;
  margin: .3em;
  justify-self: center;
}
header {
  grid-area: header;
  padding-top: 2em;
}

main {
  grid-area: content;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  font-family: parisine-std-clair, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em;
}
footer {
  grid-area: footer;
  color: #f5f5f5;
  font-family: parisine-std-clair, sans-serif;
  text-align: center;
  font-variant: small-caps;
  font-size: 2em;
}
.title {
  font-size: 9em;
  text-align: center;
  color: #f5f5f5;
  font-family: p22-franklin-caslon, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title a, .title a:visited {
  color: #f5f5f5;
  text-decoration: none;
}

.subtitle {
  text-align: center;
  color: #f5f5f5;
  font-family: parisine-std-compress-clair, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  font-size: 3em;
  letter-spacing: 0.2em;
}

article {
  padding: 2em;
  text-align: justify;
  background-color: rgba(18, 18, 18, 0.4);
  margin: 1em;
}

/*** tablet ***/

@media screen and (min-width: 768px) and (max-width: 1079px) {
	article {
    width: 34%;
  }
}

/*** desktop ***/
@media screen and (min-width: 1080px) {
	article {
    width: 40%;
  }
}

/*** toggle menu ***/

.menubutton {
  color: #f5f5f5;
  margin: .3em;
justify-self: center;
background: none;
}

.menubutton:hover {
cursor: pointer;
}

.togglemenu {
position: relative;
display: inline-block;
}

.menucontent {
display: none;
position: absolute;
background-color: rgba(18, 18, 18, 0.8);
width: 2em;
height: 10em;
margin-left: 1em;
z-index: 1;
font-size: 0.5em;
text-align: justify;
font-family: parisine-std-clair, sans-serif;
}

.menucontent a {
  color: #f5f5f5;
  text-decoration: none;
}

.show {
display: block;
}


h1 {
  font-family: p22-franklin-caslon, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

form > ul {
  list-style: none;
}

label, button {
  font-variant: small-caps;
  font-weight: bold;
}

input, textarea {
  padding: 5px;
  font-family: parisine-std-clair, sans-serif;
}