body {
  width: 100%;
  height: 100%;
  background-image: url(https://img.nickpic.host/AoW2LJ.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  margin-bottom: 75px;
}
.container {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1fr;
  grid-template-rows: 0.6fr 2.2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "side-nav header header" 
                       "side-nav content content" 
                       "side-nav footer footer";
}
.side-nav {
  grid-area: side-nav;
  color: #f5f5f5;
  font-size: 4em;

}
.header {
  grid-area: header;
  padding-top: 2em;
}
.content {
  grid-area: content;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  font-family: parisine-std-clair, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em;
}
.footer {
  grid-area: footer;
}
.title {
  font-size: 9em;
  text-align: center;
  color: #f5f5f5;
  font-family: p22-franklin-caslon, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.subtitle {
  text-align: center;
  color: #f5f5f5;
  font-family: parisine-std-compress-clair, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  font-size: 3em;
  letter-spacing: 0.2em;
}
article {
  padding: 2em;
  text-align: justify;
  background-color: rgba(18, 18, 18, 0.4);
  margin: 1em;
}

/*** tablet ***/

@media screen and (min-width: 768px;) and (max-width: 1079px;) {
	// custom CSS
}

/*** desktop ***/
@media screen and (min-width: 1080px) {
	// custom CSS
}