body {
    width: 100%;
    height: 100vh;
    min-height: 1200px;
    background-image: url(https://images.unsplash.com/photo-1563724221558-dbd98d65d294?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}

body::before {
    content: "";
    width: 100%;
    height: 100vh;
    min-height: 1200px;
    position: absolute;
    background-color: #121212;
    opacity: 0.4;
    margin: 0 auto;
  }


  header {
    top: 50px;
    position: relative;
}

  #innerwrapper {
    width: 90%;
    border: 1px solid #fff;
    margin: auto;
    top: 75px;
    padding: 1.5em;
    position: relative;
    color: #fff;
    font-family: parisine-std-clair, sans-serif;
    display: flex;
  }

  .title {
    font-size: 9em;
    text-align: center;
    color: #fff;
    font-family: p22-franklin-caslon, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .subtitle {
    text-align: center;
    color: #fff;
    font-family: parisine-std-compress-clair,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    font-size: 3em;
    letter-spacing: 0.2em;
  }

  